.app_instagram_logo{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app_instagram_logo >img{
  margin-top: -25px;
  height: 140px;
  object-fit: contain;
}
.app{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}
.app_instagram_logo>h1{
  margin-top: -38px;
  
  color: white;
}
html{
  scroll-snap-type: y mandatory ;
}
.app_body{
  margin-top: -100px;
  height: 64vh;
  border-radius: 20px;
  max-height: 1200px;
  max-width: 350px;
  background-color: white;
  width: 270px;
  position: relative;
  overflow: scroll;
  scroll-snap-type: y mandatory ;
}
.app_body::-webkit-scrollbar{
  display: none;
}